<?xml version="1.0"?>
<config>
    <modules>
        <SD_AjaxAdd>
            <version>0.1.0</version>
        </SD_AjaxAdd>
    </modules>
    <frontend>
        <routers>
            <ajaxadd>
                <use>standard</use>
                <args>
                    <module>SD_AjaxAdd</module>
                    <frontName>ajaxadd</frontName>
                </args>
            </ajaxadd>
        </routers>
    </frontend>
    <admin>
        <routers>
            <sd_ajaxadd>
                <use>admin</use>
                <args>
                    <module>SD_AjaxAdd</module>
                    <frontName>sd_ajaxadd</frontName>
                </args>
            </sd_ajaxadd>
        </routers>
    </admin> 
    <frontend>
        <layout>
            <updates>
                <ajaxadd>
                    <file>ajaxadd.xml</file>
                </ajaxadd>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <ajaxadd>
                <class>SD_AjaxAdd_Block</class>
            </ajaxadd>
            <catalog>
               <rewrite>
                   <product_list>SD_AjaxAdd_Block_CartAdd</product_list>
               </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <ajaxadd>
                <class>SD_AjaxAdd_Helper</class>
            </ajaxadd>
            <checkout>
                <rewrite>
                    <cart>SD_AjaxAdd_Helper_Cart</cart>
                </rewrite>
            </checkout>
        </helpers>
    </global>
</config>